@media only screen and (max-width: 600px) {

    .wrapper {
        display: flex;
        flex-direction: column;

        .content-img{
            display: flex;
            // flex-direction: column;
            // flex-wrap: 1;
            // flex:auto;
            min-height: 100px;
        }
        
        .testimonals {
            
        }
    }
}
