@import 'utilities';
@import 'responsive';

.wrapper {
    font-family: 'Barlow', sans-serif;

    // HEADER
    .header {
        display: flex;
        flex-direction: column;
        width:100%;
        max-height: 400px;
        overflow: hidden;
        background: url(/dist/images/desktop/image-header.jpg) no-repeat center center/cover;
    }

    // NAV

    // CONTENT GRID
    .content {

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            .column {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex: 1;
            }

            .left {
                
                height: 300px;
            }

            .right {
                
                height: 300px;
            }
        }
    }

    // TESTIMONIALS


    // CONTENT SMALL IMAGES
    .content-small {

        .row-img {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            .content-img {
                height: 300px;
                width: 300px;
            }

            .milk {
                background: url(/dist/images/desktop/image-gallery-milkbottles.jpg) no-repeat center center/cover;
            }

            .orange {
                background: url(/dist/images/desktop/image-gallery-orange.jpg) no-repeat center center/cover;
            }

            .cone {
                background: url(/dist/images/desktop/image-gallery-cone.jpg) no-repeat center center/cover;
            }

            .sugarcubes {
                background: url(/dist/images/desktop/image-gallery-sugarcubes.jpg) no-repeat center center/cover;
            }
        }
    }

    // FOOTER
}