@import 'utilities';
@import 'responsive';

.wrapper {
    font-family: 'Barlow', sans-serif;

    // HEADER
    .header {
        display: flex;
        flex-direction: column;
        width:100%;
        height: 65vh;
        overflow: hidden;
        background: url(/dist/images/desktop/image-header.jpg) no-repeat center center/cover;

        h1 {
            font-family: 'Fraunces', serif;
            color: $white;
            text-align: center;
            margin-top: 80px;
            letter-spacing: 7px;
        }

        .arrow {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        // NAV
    .wrap-nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        .logo {
            margin-left: 40px;
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;

                li { 
                    list-style-type: none;
                }

                a {
                    text-decoration: none;
                    margin: 0 25px;
                    color: $white;
                    font-size: 15px;
                }

                .current {
                    font-family: 'Fraunces', serif;
                    color: black; 
                    text-transform: uppercase;
                    background-color: $white;
                    padding: 15px 25px;
                    border-radius: 40px;
                }
            }
        }
    }
    }

    // CONTENT GRID
    .content {

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            .column {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex: 1;
                padding: 90px;

                h2, h3, a {
                    font-family: 'Fraunces', serif;
                }

                p {
                    font-size: 15px;
                    color: $dk-blue;
                    line-height: 2;
                }
            }

            .left {
                height: 500px;
            }

            .right {
                height: 500px;
            }

            .egg {
                background: url(/dist/images/desktop/image-transform.jpg) no-repeat center center/cover;
            }

            .glass {
                background: url(/dist/images/desktop/image-stand-out.jpg) no-repeat center center/cover;
            }

            .cherry {
                background: url(/dist/images/desktop/image-graphic-design.jpg) no-repeat center center/cover;

                h3, p {
                    text-align: center;
                    color: $dk-cyan-gdtext;
                }

                h3 {
                    padding-top: 220px;
                }

                p {
                    padding-top: 20px;
                }
            }

            .orange {
                background: url(/dist/images/desktop/image-photography.jpg) no-repeat center center/cover;

                h3, p {
                    text-align: center;
                    color:$dk-blue-phototext;
                }

                h3 {
                    padding-top: 220px;
                }

                p {
                    padding-top: 20px;
                }
            }
        }
    }

    // TESTIMONIALS
    .testimonals {

        .client {
                text-align: center;
                font-family: 'Fraunces', serif;
                color: $gray-blue;
                letter-spacing: 4px;
                margin-top: 90px;
            }
        .row {
            display: flex;
            flex-direction: row;
            width: 100%;

            .column {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex: 1;
                height: 500px;
                justify-content: center;
                align-items: center;
                padding: 60px;
            }

            img {
                width:60px;
                height: auto;
                border-radius: 50%;
                margin-bottom: 50px;
            }

            h4, p {
                text-align: center;
            }

            .quote {
                font-size: 15px;
                line-height: 1.6;
                margin-bottom: 30px;
                color: $v-dk-gray-blue;
            }

            .name {
                font-family: 'Fraunces', serif;
                font-size: 15px;
                margin-bottom: 10px;
            }

            .title {
                font-size:12px;
                color:$gray-blue;
        }
    }
}

    // CONTENT SMALL IMAGES
    .content-small {

        .row-img {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            .content-img {
                height: 400px;
                width: 400px;
            }

            .milk {
                background: url(/dist/images/desktop/image-gallery-milkbottles.jpg) no-repeat center center/cover;
            }

            .orange {
                background: url(/dist/images/desktop/image-gallery-orange.jpg) no-repeat center center/cover;
            }

            .cone {
                background: url(/dist/images/desktop/image-gallery-cone.jpg) no-repeat center center/cover;
            }

            .sugarcubes {
                background: url(/dist/images/desktop/image-gallery-sugarcubes.jpg) no-repeat center center/cover;
            }
        }
    }

    // FOOTER


}